In [1]:
for n in range(1, 11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [2]:
number = 20  

while number >= 1: 
    print(number)  
    number -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:
for number in range(1, 11):
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [4]:
n = int(input("Enter a number: "))

for num in range(1, n + 1):
    print(num)

Enter a number:  2

1
2

In [5]:
n = int(input("Enter a number: "))

print(f"Odd numbers between 1 and {n}:")
for num in range(1, n + 1):
    if num % 2 != 0:
        print(num)

Enter a number:  12

Odd numbers between 1 and 12:
1
3
5
7
9
11

In [7]:
n = 1
while n < 6:
    print('HAPPY BIRTHDAY')
    n+=1

HAPPY BIRTHDAY
HAPPY BIRTHDAY
HAPPY BIRTHDAY
HAPPY BIRTHDAY
HAPPY BIRTHDAY

In [8]:
n = int(input("Enter a number: "))

print(f"The first {n} terms of the series of squared natural numbers are:")
for i in range(1, n + 1):
    square = i ** 2 
    print(square)

Enter a number:  30

The first 30 terms of the series of squared natural numbers are:
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900

In [9]:
number = int(input("Enter a number: "))


print(f"Multiplication table for {number}:")
for i in range(1, 11): 
    result = number * i 
    print(f"{number} x {i} = {result}")

Enter a number:  20

Multiplication table for 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [11]:
first_term = 3
common_difference = 4
number_of_terms = 8

print("The first 8 terms of the arithmetic progression are:")
for i in range(number_of_terms):
    term = first_term + i * common_difference  
    print(term, end=' ')

The first 8 terms of the arithmetic progression are:
3 7 11 15 19 23 27 31

In [12]:
first_term = 2
common_ratio = 3
number_of_terms = 6

print("The first 6 terms of the geometric sequence are:")
for i in range(number_of_terms):
    term = first_term * (common_ratio ** i)
    print(term, end=' ')

The first 6 terms of the geometric sequence are:
2 6 18 54 162 486

In [13]:
n = int(input("Enter a positive integer: "))

if n <= 0:
    print("Please enter a positive integer.")
else:
    total_sum = 0 
    for i in range(1, n + 1):
        total_sum += i 
        
    print(f"The sum of all integers from 1 to {n} is: {total_sum}")

Enter a positive integer:  12

The sum of all integers from 1 to 12 is: 78

In [1]:
n = int(input("Enter a positive integer: "))

if n <= 0:
    print("Please enter a positive integer.")
else:
    total_sum = 0.0  

    for i in range(1, n + 1):
        total_sum += 1 / i 

    print(f"The sum of reciprocals from 1 to {n} is: {total_sum:.2f}")

Enter a positive integer:  123456

The sum of reciprocals from 1 to 123456 is: 12.30

In [16]:
total = 0

for i in range(5):
    number = float(input("Enter a number: "))
    total += number

print(f"The final running total is: {total}")

Enter a number:  13
Enter a number:  36
Enter a number:  366
Enter a number:  3200
Enter a number:  335550

The final running total is: 339165.0